@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 98% 0.005 120;
  --foreground: 20% 0.01 120;
  --card: 100% 0 0;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-neutral-900;
}
